# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# .env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

app.js:Zone.Identifier
package.json:Zone.Identifier
Todo.js:Zone.Identifier
todoRoutes.js:Zone.Identifier
todoController.js:Zone.Identifier
.env:Zone.Identifier
.gitignore:Zone.Identifier
